.logo a {
  text-decoration: none;
  color: white;
}

a img {
  width: 20px;
}

header {
  margin: 0 auto;
}

header nav {
  background-color: #161616;
}

ul {
  display: flex;
  height: 40px;
  justify-content: flex-end;
  list-style: none;
  margin: 0 32px 0 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

nav {
  justify-content: flex-end;
  display: flex;
}

li {
  list-style: none;
}

.btn {
  background: linear-gradient(
    to top,
    transparent 0,
    rgba(0, 0, 0, 0.8) 64px,
    rgba(0, 0, 0, 0.8) 96px
  );
  display: flex;
  align-items: center;
}

header a {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  list-style: none;
  width: 40px;
  text-decoration: none;
  color: #B0B0B0;
}

header a:hover {
  transform: matrix3d(0.9);
  opacity: 0.8;
  color: white;
}

body {
  margin: 0 auto;
  font-family: "Kanit", sans-serif;
  max-width: 100%;
}

.bg {
  background: url(../img/Need-For-Speed-Hot-Pursuit-Remastered.jpg) no-repeat;
  height: 412px;
  background-size: cover;
  background-position-y: -12rem;
}

.btn a,
.title a {
  width: unset;
  display: flex;
  justify-content: center;
}

.btn a + a {
  padding: 1rem;
  color: white;
  text-decoration: none;
  transition: all 0.1s;
}

.btn a + a:hover {
  color: #ff4747;
}

.arial {
  display: block;
  padding: 1.8rem;
}

.arial img {
  height: 38px;
  width: 9rem;
}

div.bg2 {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  list-style: none;
  width: 40px;
}

.title {
  margin-left: 13rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 550px;
  justify-content: center;
}

.title a + a {
  padding-left: 2rem;
}

.title button {
  outline: none;
  color: white;
  border-radius: 2px;
  height: 3.5rem;
  width: 10.5rem;
  cursor: pointer;
}

.title button:first-of-type {
  background-color: #ff4747;
  margin-right: 2rem;
  font-family: "Kanit", sans-serif;
  font-size: 1.2rem;
}

.title button:last-of-type {
  background-color: transparent;
  box-shadow: 0px 0px 0px 1px white;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
}

main {
  font-family: "Open Sans", sans-serif;
}

main a {
  display: contents;
  color: #ff4747;
  position: relative;
}

p {
  text-align: left;
  margin: 0 auto;
  max-width: 800px;
  margin-block: 3rem;
  width: 860px;
}

.button-name {
  align-items: center;
  appearance: none;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,
    rgba(45, 35, 66, 0.15) 0 7px 13px -3px, inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-name:hover {
  box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px,
    rgba(45, 35, 66, 0.2) 0 7px 13px -3px, inset;
  transform: scale(1.1);
}

.content img {
  width: 29.5%;
  margin: inherit;
  padding: 0.5rem;
  transition: transform 0.4s;
  position: relative;
  display: block;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  padding: 0rem 13.5rem;
  padding-right: 5rem;
  padding-bottom: 1rem;
}

footer {
  background-color: #252525;
  padding: 1rem 19rem;
}

h6 {
  font-family: "Kanit", sans-serif;
  color: white;
  font-size: 15px;
  margin: 30px 0;
}

.okay {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

h5 {
  font-family: "Kanit", sans-serif;
  color: white;
  text-align: right;
  padding-bottom: 0;
  margin: 30px 0;
  font-size: 14.5px;
}

.grpfooter {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: solid 1px #ebe1d3;
}

footer ul {
  margin: 0 9px 0 0;
  color: white;
}

footer li + li {
  padding-left: 2rem;
}

footer li:hover {
  transform: scale(1.1);
}

.okay a {
  color: #ebe1d3;
  text-decoration: none;
  transition: all 0.1s;
}

.okay a:hover {
  color: #ff4747;
}

footer img {
  width: 65px;
  padding-block: 2rem;
}

.flex a {
  text-align: right;
  display: block;
}

.content img {
  transition: transform 0.3s;
}


.content img:hover {
  transform: scale(0.9);
  opacity: 0.8;
}

small {
  color: #a3a3a3;
  font-size: 1rem;
}

.content img:hover {
  transform: scale(0.9);
  background: rgb(158, 0, 255);
  background: linear-gradient(
    144deg,
    rgba(158, 0, 255, 0.6026785714285714) 0%,
    rgba(96, 8, 8, 1) 100%
  );
}
