a {
  text-decoration: none;
  color: white;
}

a img {
  width: 20px;
}

header {
  margin: 0 auto;
}

header nav {
  background-color: #161616;
}

ul {
  display: flex;
  height: 40px;
  justify-content: flex-end;
  list-style: none;
  margin: 0 32px 0 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

nav {
  justify-content: flex-end;
  display: flex;
}

li {
  list-style: none;
}

.btn {
  background: linear-gradient(
    to top,
    transparent 0,
    rgba(0, 0, 0, 0.8) 64px,
    rgba(0, 0, 0, 0.8) 96px
  );
  display: flex;
  align-items: center;
}

header a {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  list-style: none;
  width: 40px;
  text-decoration: none;
  color: white;
}

body {
  margin: 0 auto;
  font-family: "Faster One", cursive;
  max-width: 100%;
}

.bg {
  background: url(../img/Need-For-Speed-Hot-Pursuit-Remastered.jpg) no-repeat;
  height: 412px;
  background-size: cover;
  background-position-y: -12rem;
}

.btn a,
.title a {
  width: unset;
  display: flex;
  justify-content: center;
}

.btn a + a {
  padding: 2rem;
  color: white;
}

.arial {
  display: block;
  padding: 1.8rem;
}

.arial img {
  height: 38px;
  width: 9rem;
}

div.bg2 {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  list-style: none;
  width: 40px;
}

@font-face {
  font-family: "ea-font";
  src: url(../font/ElectronicArtsDisplay-Bold.woff2) format("woff2");
}

.title {
  margin-left: 17rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 550px;
  justify-content: center;
}

.title a + a {
  padding-left: 2rem;
}

.title button {
  outline: none;
  color: white;
  border-radius: 5px;
  height: 3.5rem;
  width: 10.5rem;
  cursor: pointer;
}

.title button:first-of-type {
  background-color: #ff4747;
  margin-right: 2rem;
  font-family: "Kanit", sans-serif;
  font-size: 1.2rem;
}

.title button:last-of-type {
  background-color: transparent;
  box-shadow: 0px 0px 0px 1px white;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
}

main {
  font-family: "Open Sans", sans-serif;
}

main a {
  display: contents;
  color: #ff4747;
}

p {
  text-align: left;
  margin: 0 auto;
  max-width: 800px;
  margin-block: 3rem;
  width: 860px;
}

.button-name {
  align-items: center;
  appearance: none;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,
    rgba(45, 35, 66, 0.15) 0 7px 13px -3px, inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-name:hover {
  box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px,
    rgba(45, 35, 66, 0.2) 0 7px 13px -3px, inset;
  transform: translateY(-2px);
}

.content img {
  width: 26%;
  margin: inherit;
  padding: 0.5rem;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  padding: 0rem 18.5rem;
  padding-right: 5rem;
}

footer {
  background-color: #252525;
  padding: 1rem 19rem;
}

h6 {
  font-family: "Prompt", sans-serif;
  color: white;
  font-size: 13px;
}


.okay {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

h5 {
  font-family: "Prompt", sans-serif;
  color: white;
}