a img {
  width: 20px;
}

header {
  background-color: #161616;
  margin: 0 auto;
}

ul {
  display: flex;
  height: 40px;
  justify-content: flex-end;
  list-style: none;
  margin: 0 32px 0 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

nav {
  justify-content: flex-end;
  display: flex;
}

li {
  list-style: none;
}

a {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  list-style: none;
  width: 40px;
}

body {
  margin: 0 auto;
}

div.btn {
  background: linear-gradient(
    to top,
    transparent 0,
    rgba(0, 0, 0, 0.6) 80px,
    rgba(0, 0, 0, 0.7) 120px
  );
}

btn.img {
  width: 100%;
  max-height: 40px;
  max-width: 90px;
  height: 120px;
}

body {
  background: url(../img/Need-For-Speed-Hot-Pursuit-Remastered.jpg) no-repeat;
  background-size: cover;
}
